body {
	padding: 0;
	margin: 0;
}

h1 {
	font-family: 'Merriweather', serif;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
}
body {
	background-color: lightgray;
}

@keyframes blink {
	0% {opacity:1;}
	80% {opacity:0;}
	100% {opacity:1;}
}

@keyframes slideFromBottom {
	0% {
		opacity: 0;
		transform: translateY(200%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes slideFromLeft {
	0% {transform: translateX(-100%);}
	100% {transform: translateX(0%);}
}

#blink {
	opacity: 0;
	animation: blink 1.25s infinite 1.50s;
}

#body {
	background-color: #F8F8F8;
	box-shadow: 3px 3px 5px gray, -3px 3px 5px gray;
	padding-top: 100px; 
	width: 90%;
	height: 150vh;
	z-index: 0;
}

#greet {
	animation: slideFromLeft 1.10s cubic-bezier(.46,.88,.51,.96);
}

#github {
	opacity: 0;
	height: 100%;
	transform: translateY(300%);
	animation: slideFromBottom 1.00s ease-out 1.00s forwards;
	z-index: 1
}

#github-logo {
	height: 60px;
}



#linkedin {
	opacity: 0;
	height: 100%;
	padding-top: 40px;
	padding-bottom: 30px;
	transform: translateY(300%);
	animation: slideFromBottom 1.00s ease-out 1.00s forwards;
}

#linkedin-logo {
	height: 80px;
}

#octocat-logo {
	padding-top: 15px;
	height: 100px;
}

#resume {
	height: 100%;
	opacity: 0;
	transform: translateY(300%);
	animation: slideFromBottom 1.00s ease-out 1.00s forwards;
}
#resume a {
	color: #1d4991;
	display: block;
	font-size: 110px;
	text-align: center;
	text-decoration: none;
}

#links {
	margin-top: 8%;
	height: 200px;
}

#left-col {
	background-color: #a7f2ad;
	height: 100%;
	padding: 0;
}

#mid-col {
	background-color: #6ac471;
	height: 100%;
	padding: 0;
	z-index: 2;
}

#right-col {
	background-color: #a7f2ad;
	height: 100%;
	padding: 0;
}

.nav {
	height: 100%;
	padding: 0;
	margin: 0;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #5cce78;
}

.navbar {
	opacity:1;
	background-color: #4b965d;
	box-shadow: 0 3px 5px gray;
	display: block;
	z-index: 99;
}

.navbar-brand {
	color: white;
	font-family: 'Merriweather', serif;
}
.navbar-right {
	margin-right: ;
}

.navbar-right a {
	color: white;
	font-family: 'Open Sans', sans-serif;
}

@media (max-width: 767px) {
	#body {
		padding-top: 200px;
	}

	#resume {
		padding-top: 15px;
	}

	#greeting {
		padding-left: 9%;
	}

}

