body, html {
	padding: 0;
	margin: 0;
	height: 100%;
}

h1 {
	font-family: 'Merriweather', serif;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
}

body {
	position: relative;
	background-color: #414f43;
}

@keyframes blink {
	0% {opacity:1;}
	80% {opacity:0;}
	100% {opacity:1;}
}

@keyframes slideFromBottom {
	0% {
		opacity: 0;
		transform: translateY(200%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes slideFromLeft {
	0% {transform: translateX(-100%);}
	100% {transform: translateX(0%);}
}

#blink {
	font-size: 1.25em;
	opacity: 0;
	animation: blink 1.25s infinite 1.50s;
}

#body {
	background-color: #d7efdb; /*#F8F8F8*/
	box-shadow: 2px 2px 20px black, -2px 2px 20px black;
	padding-top: 100px; 
	width: 90%;
	height: 300%;
}

#greet {
	border: 1px solid black;
	width: 83%;
	animation: slideFromLeft 1.10s cubic-bezier(.46,.88,.51,.96);
}

#github {
	position: relative;
	opacity: 0;
	height: 100%;
	transform: translateY(300%);
	animation: slideFromBottom 1.00s ease-out 1.00s forwards;
	z-index: 3;
}

#octocat-logo {
	position: relative;
	top: 10px;
	padding-top: 15px;
	height: 50%;
}

#github-logo {
	height: 100px;
}

#linkedin {
	opacity: 0;
	height: 100%;
	padding-top: 40px;
	padding-bottom: 30px;
	transform: translateY(300%);
	animation: slideFromBottom 1.00s ease-out 1.00s forwards;
}

#linkedin-logo {
	position: relative;
	top: 60px;
	height: 30%;
	z-index: 0;
}

#resume {
	height: 100%;
	opacity: 0;
	transform: translateY(300%);
	animation: slideFromBottom 1.00s ease-out 1.00s forwards;
}

#resume a {
	color: #1d4991;
	display: block;
	font-size: 10em;
	text-align: center;
	text-decoration: none;
}

#resume-text {
	color: black;
	margin-top: -30px;
	font-family: 'Lato';
	font-size: 40%;
}

#links {
	position: absolute;
	width: 90%;
	height: 50%;
	bottom: 0;
	border-top: 2px dashed #77af7d;
	border-bottom: 2px dashed #77af7d;
}

#left-col {
	background-color: #a7f2ad;
	height: 100%;
	padding: 0;
}

#mid-col {
	background-color: #6ac471;
	height: 100%;
	padding: 0;
	z-index: 3;
}

#right-col {
	background-color: #a7f2ad;
	height: 100%;
	padding: 0;
}

#links > div > div {
	transition: background-color 0.5s ease-out;
}
#links > div > div:hover {
	transition: background-color 0.5s ease-out;
	background-color: #d5f2d8;
}

#projects {
	width: 90%;
	position: absolute;
	top: 100%;
	text-align: center;
}

#project-button {
	background-color: #262d27;
	margin: 0;
	padding: 0;
	width: 90%;
	height: 70px;
	position: absolute;
	bottom: 0;
	left: 5%;
	z-index: 98;
	text-align: center;
	font-size: 40px;
	font-family: 'Open Sans';
	transition: background-color 0.25s ease-out;
}

#project-button a {
	color: white;
	text-decoration: none;
}

#project-button:hover {
	background-color: gray;
	transition: background-color 0.25s ease-out;
}

.nav {
	padding: 0;
	margin: 0;
}

.affix-top > .container-fluid > .nav > li > a {
	background-color: #262d27;
	font-size: 14px;
	height: 51px;
	transition: font-size 0.5s ease-out, height 0.5s ease-out;
}

.affix > .container-fluid > .nav > li > a {
	background-color: #262d27;
	font-size: 12px;
	height: 39px;
	transition: font-size 0.5s ease-out, height 0.5s ease-out;
}

.affix-top > .container-fluid > .nav > li > a:hover,
.affix-top > .container-fluid > .nav > li > a:focus,
.affix > .container-fluid > .nav > li > a:hover,
.affix > .container-fluid > .nav > li > a:focus {
	transition: background-color 0.5s ease-out, height 0.5s ease-out;
  	background-color: #5cce78;
}

.affix-top {
	position: absolute;
	color: black;
	min-height: 51px;
	transition: min-height 0.5s ease-out;
}

.affix {
	min-height: 40px;
	transition: min-height 0.5s ease-out;
}

.navbar {
	height: 5px;
	width: 100%;
	background-color: #262d27; /*#4b965d*/
	box-shadow: 0 2px 10px black;
	display: block;
	z-index: 99;
}

.affix-top > .container-fluid > .navbar-header > .navbar-brand {
	position: relative;
	/*background-color: #161916;*/
	color: white;
	font-family: 'Quicksand', serif;
	height: 51px;
	transition: color 0.25s ease-out, font-size 0.5s ease-out, height 0.5s ease-out;
}

.affix > .container-fluid > .navbar-header > .navbar-brand {
	position: relative;
	/*background-color: #161916;*/
	color: white;
	font-family: 'Quicksand', serif;
	height: 40px;
	font-size: 14px;
	transition: color 0.25s ease-out, font-size 0.5s ease-out, height 0.5s ease-out;
}

.affix > .container-fluid > .navbar-header > .navbar-brand:hover,
.affix-top > .container-fluid > .navbar-header > .navbar-brand:hover {
	color: green;
	transition: color: 0.5s ease-out;
}

.navbar-right a {
	color: white;
	font-family: 'Open Sans', sans-serif;
}

@media (max-width: 767px) {
	#body {
		padding-top: 200px;
		height: 100%;
	}

	#greet {
		font-size: 1.25em;
	}
	#resume {
		padding-top: 30px;
	}

	#resume a {
		font-size: 130px;
	}

	#links {
		height: 300px;
	}

	#project-button {
		display: none;
	}

	#left-col {
	}

	#mid-col {
		box-shadow: 2px 0px 20px black, -2px -2px 20px black;
		border-top: 2px dashed #95db9c;
		border-bottom: 2px dashed #95db9c;
	}

	#right-col {
		position: relative;
		box-shadow: 2px 0px 20px black, -2px 0px 20px black;
		border-bottom: 2px dashed #77af7d;
		z-index: 3;
	}

	.affix-top > .container-fluid > .nav > li > a {
		margin-left: -5%;
		padding-left: 5%;
		width: 105vw;
		display: block;
	}

	.affix > .container-fluid > .nav > li > a {
		margin-left: -5%;
		padding-left: 5%;
		width: 105vw;
		background-color: #262d27;
		font-size: 12px;
		height: 39px;
		transition: font-size 0.5s ease-out, height 0.5s ease-out;
	}
}

@media (min-width: 768px) and (max-width:)